<% include ./partial/header %>
<% include ./partial/wardenfunction%>
<div class="col-sm-6" style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 400px;
margin-right: 800;
margin-top: -165px;  text-align: -webkit-center;">
      <div class="thumbnail">
        <img style="height:180px;width:180px;border-radius: 100%" src="https://freepngimg.com/thumb/facebook/62681-flat-icons-face-computer-design-avatar-icon.png" />
        <h2><%=warden.name%></h2>
        <h4><%=warden.type%></h4>
        <h4><%=warden.username%></h4>
        <h4><%=warden.hostel%></h4>
      </div>
    </div>

    <% include ./partial/footer %>
  </div>
</div>
