<% include ./partial/header %>
<% include ./partial/hodfunction %>
    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 400px;
    margin-right: 800;
    margin-top: -165px; text-align: -webkit-center;">
      <div class="thumbnail">
        <br />
        <br />
        <img style="height:180px;width:180px;border-radius: 100%" 
        src="https://freepngimg.com/thumb/facebook/62681-flat-icons-face-computer-design-avatar-icon.png" />
        <h2><%=hod.name%></h2>
        <h4><%=hod.type%></h4>
        <h4>Username: <%=hod.username%></h4>
        <h4>Department:<%=hod.department%></h4>
      </div>
    </div>

    <% include ./partial/footer %>
  </div>
</div>
