<% include ./partial/header %> <% include ./partial/studfunction %>

<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: -181px;  text-align: -webkit-center;"
>
  <h2>You can apply for leave here <%=student.name%>:</h2>
  <form action="/student/<%=student._id%>/apply" method="POST">
    <div class="form-group">
      <input
        type="text"
        placeholder="Subject"
        name="leave[subject]"
        class="form-control"
      />
      <br /><br />
    </div>
    <div class="form-group">
      <p style="text-align: left;font-size: 20px;">Provide the dates here - </p>
      <br />
      <label for="from">From the date you want leave:</label>
      <input
        type="date"
        data-date-inline-picker="true"
        id="from"
        name="leave[from]"
      />
      <br />
    </div>
    <div class="form-group">
      <label for="to">Till the date you want leave  :</label>
      <input
        type="date"
        data-date-inline-picker="true"
        id="to"
        name="leave[to]"
      />
      <br /><br />
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-outline-success btn-default">Submit</button>
    </div>
  </form>
  <script>
    const fromDateInput = document.getElementById("from");
    const toDateInput = document.getElementById("to");
  
    fromDateInput.addEventListener("change", () => {
    const fromDateValue = fromDateInput.value;
    const minToDateValue = new Date(fromDateValue);
    minToDateValue.setDate(minToDateValue.getDate() + 1);
    toDateInput.min = minToDateValue.toISOString().slice(0, 10);
  });
  </script>
  <% include ./partial/footer %>
</div>
